doctype html
html[lang="ja"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Bootstrapの練習
    link[href="css/bootstrap.min.css" rel="stylesheet"]
  body
    /! nav[class="navbar navbar-inverse"]
    nav[class="navbar navbar-default navbar-fixed-top"]
      .navbar-header
        a[class="navbar-brand" href=""] Dotinstall
      ul[class="nav navbar-nav"]
        li[class="active"]
          a[href=""] Link1
        li
          a[href=""] Link2
      ul[class="nav navbar-nav navbar-right"]
        li
          a[href=""] Link3
    .container[style="padding: 20px 0;"]
      p こんにてゃ1
      p こんにてゃ2
      p こんにてゃ3
      p こんにてゃ4
      p こんにてゃ5
      p こんにてゃ6
      p こんにてゃ7
      p こんにてゃ8
      p こんにてゃ9
      p こんにてゃ10
      p こんにてゃ11
      p こんにてゃ12
      p こんにてゃ13
      p こんにてゃ14
      p こんにてゃ15
      p こんにてゃ16
      p こんにてゃ17
      p こんにてゃ18
      p こんにてゃ19
      p こんにてゃ20
      p こんにてゃ21
      p こんにてゃ22
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"]
    script[src="js/bootstrap.min.js"]
