doctype html
html[lang="ja"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    title
      | Bootstrapの練習
    link[href="css/bootstrap.min.css" rel="stylesheet"]
  body
    .container[style="padding: 20px 0;"]
      ul[class="breadcrumb"]
        li
          a[href=""] Home
        li
          a[href=""] Users
        li[class="active"]
          a[href=""] @taguchi
      ul[class="pagination"]
        li[class="disabled"]
          a[href=""] &laquo;
        li[class="active"]
          a[href=""] 1
        li
          a[href=""] 2
        li
          a[href=""] 3
        li
          a[href=""] &raquo;

      ul[class="pager"]
        li[class="previous"]
          a[href=""] 前へ
        li[class="next"]
          a[href=""] 次へ
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"]
    script[src="js/bootstrap.min.js"]
